body {
  background-color: black;
  margin: auto;
}

.App {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 2rem;
  min-height: 90vh;
}

.calc-wrapper {
  background-color: white;
  width: 25vw;
  border-radius: 16px;
  padding: 1rem;
}

.row {
  display: flex;
}